@model Maple.Foundation.Setup.Models.InstallModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        <strong>AdminName:</strong> <code>@Model.AdminName</code>
    </p>
</body>
</html>